
<nav>
<h3><a [routerLink]= "['/home']">Home</a></h3>
<h3><a [routerLink]="['/aboutus']">Aboutus</a></h3>
<h3><a [routerLink]="['/register']">Register</a></h3>
</nav>
<hr>
<h3><button (click)="renderHome('home')">Home</button></h3>
<h3><button (click)="renderAboutus('aboutus')">Aboutus</button></h3>
<h3><button (click)="renderRegister('register')">Register</button></h3>
<router-outlet></router-outlet>
<!-- <h3><button (click)="navigateTo('home')">Home</button></h3>
<h3><button (click)="navigateTo('aboutus')">Aboutus</button></h3>
<h3><button (click)="navigateTo('register')">Register</button></h3> -->