

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

.product-card {
    border: solid 2px black;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}

h2{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}


#search{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    width: 100%; 
    max-width: 600px;
    padding: 8px; 
    font-size: 16px; 
}

.alert{
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    
}